/* font-face */
@font-face {
  font-family: "SocialFoundicons";
  src: url("../fonts/social_foundicons.eot");
  src: url("../fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/social_foundicons.woff") format("woff"), url("../fonts/social_foundicons.ttf") format("truetype"), url("../fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="socialfoundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="socialfoundicon-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.socialfoundicon-thumb-up:before {
  content: "\f000";
}

.socialfoundicon-thumb-down:before {
  content: "\f001";
}

.socialfoundicon-rss:before {
  content: "\f002";
}

.socialfoundicon-facebook:before {
  content: "\f003";
}

.socialfoundicon-twitter:before {
  content: "\f004";
}

.socialfoundicon-pinterest:before {
  content: "\f005";
}

.socialfoundicon-github:before {
  content: "\f006";
}

.socialfoundicon-path:before {
  content: "\f007";
}

.socialfoundicon-linkedin:before {
  content: "\f008";
}

.socialfoundicon-dribbble:before {
  content: "\f009";
}

.socialfoundicon-stumble-upon:before {
  content: "\f00a";
}

.socialfoundicon-behance:before {
  content: "\f00b";
}

.socialfoundicon-reddit:before {
  content: "\f00c";
}

.socialfoundicon-google-plus:before {
  content: "\f00d";
}

.socialfoundicon-youtube:before {
  content: "\f00e";
}

.socialfoundicon-vimeo:before {
  content: "\f00f";
}

.socialfoundicon-flickr:before {
  content: "\f010";
}

.socialfoundicon-slideshare:before {
  content: "\f011";
}

.socialfoundicon-picassa:before {
  content: "\f012";
}

.socialfoundicon-skype:before {
  content: "\f013";
}

.socialfoundicon-steam:before {
  content: "\f014";
}

.socialfoundicon-instagram:before {
  content: "\f015";
}

.socialfoundicon-foursquare:before {
  content: "\f016";
}

.socialfoundicon-delicious:before {
  content: "\f017";
}

.socialfoundicon-chat:before {
  content: "\f018";
}

.socialfoundicon-torso:before {
  content: "\f019";
}

.socialfoundicon-tumblr:before {
  content: "\f01a";
}

.socialfoundicon-video-chat:before {
  content: "\f01b";
}

.socialfoundicon-digg:before {
  content: "\f01c";
}

.socialfoundicon-wordpress:before {
  content: "\f01d";
}
